<div class="container">
	<div class='row'>
		<h2>Beer</h2>
	</div>
	<div class="row">
		{{#each scrape_data}}
			<div class="col-md-4 panel posts scrape_page">
				<h5>{{this.title}}</h5>
				<a href="{{this.link}}" target="_blank">more...</a>
				</form>
			</div>
		{{/each}}
	</div>
</div>